<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="DB2PW" value="ÎÉØÍÅÄÓ" />
  <add key="FDBMDPW" value="ÎÉØÍÅÄÓ" />
  <add key="RUNIMMEDIATETimeOut" value="0" />
  <add key="StackSizeLimit" value="10" />
  <add key="UseRUNIMMEDIATE" value="0" />
  <add key="UseRUNIMMEDIATELOG" value="0" />
  <add key="UseRUNIMMEDIATEROWSET" value="0" />

  <add key="IncludeTimeinTraceName" value="1" />
  <add key="RecreateTrace" value="0" />
  <add key="StartTraceImmediately" value="0" />

  <add key="ActiveDependentAgeLimit" value="26" />
  <add key="RetireeDependentAgeLimit" value="19" />
  <add key="DefaultAgeLimit" value="19" />
  <add key="AppName" value="Eligibility" />
  <add key="TransactionHistory" value="FamilyHistory.xml" />
  <add key="TransactionHistoryRetentionInDays" value="5" />
  <add key="LifeEventExcludeCode" value="920"/>
  <add key="CSOAgeLimit" value="26"/>

  <add key="SMTPServer" value="172.16.1.9"/>
  <add key="MailFrom" value="REGM@scufcwfunds.com"/>
  <add key="MailSubject" value="Fatal Error: REGM" />

  <add key="LogDirectory" value="..\RegMasterLogs\" />

  <add key="SSNCorrectionTOEmail" value="sbandi@scufcwfunds.com"/>
  <add key="SSNCorrectionCCEmail" value="sbandi@scufcwfunds.com"/>
  <add key="SSNCorrectionMailSubject" value="SSN Corrections"/>

</appSettings>