<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" requirePermission="true"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
    <section name="AddressDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="AddressHistoryDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="AlertDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="CoverageHistoryDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="DistinctFamilyListDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="EligibilityHoursDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="EligibilityDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="EmailDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="EmailHistoryDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="FamilyFreeTextDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="FamilyHistoryDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="FamilyInfoDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="FlexNetworkDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="FreeTextEditorDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="HistoryDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="HoursDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="HoursRequiredLookupDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="LifeEventsDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="LifeEventsHistoryDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="LifeEventsLookupDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="MemberSearchDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="PatientFreeTextDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="PhoneDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="PhoneHistoryDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="PremLetterDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="PremiumsDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="REGMHistoryDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="RemarksDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="RemarksLookupDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="UFCWDocsDataGrid" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <loggingConfiguration name="" tracingEnabled="false" defaultCategory="Default" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Exception Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="exception.log" formatter="Detailed Text Formatter" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack"/>
      <add name="Default Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="RegMasterLogs\General.log" header="" footer="" formatter="RAW Text Formatter" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack"/>
      <add name="Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="RegMasterLogs\Trace.log" formatter="Detailed Text Formatter" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack"/>
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" type="UFCW.CMS.DAL.CMSDALCustomLog, UFCW.CMS.DAL, Version=1.3.4135.25247" name="Log2File Listener" formatter="RAW Text Formatter"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp(local:yyyy-MM-dd HH:mm s.fff)}{newline} Message: {message}{newline} Category: {category}{newline} Priority: {priority}{newline} EventId: {eventid}{newline} Severity: {severity}{newline} Title:{title}{newline} Machine: {localMachine}{newline} App Domain: {localAppDomain}{newline} ProcessId: {localProcessId}{newline} Process Name: {localProcessName}{newline} Thread Name: {threadName}{newline} Win32 ThreadId:{win32ThreadId}{newline} Extended Properties: {dictionary({key} - {value}{newline})}" name="Detailed Text Formatter"/>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="{message}" name="RAW Text Formatter"/>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp(local:yyyy-MM-dd HH:mm s.fff)} Message: {message}" name="RAW Text Formatter w/TimeStamp Prefix"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="Default">
        <listeners>
          <add name="Default Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Exceptions">
        <listeners>
          <add name="Exception Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Trace">
        <listeners>
          <add name="Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Log2File">
        <listeners>
          <add name="Log2File Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Default Listener"/>
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Exception Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="General">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging" logCategory="Exceptions" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <dataConfiguration defaultDatabase="DDTek D Connection String"/>
  <connectionStrings>
    <add name="DDTek D Connection String" connectionString="Database=DB2DLOC;host=172.16.1.170;port=5004;user id=MEDUSER;password=DB2PW;Pooling=true;Statement Cache Mode=Auto;Cursors With Hold=False;Enlist=False;Load Balance Timeout=0;Max Statement Cache Size=20;Defer Prepare=True;Cursor Description Cache=False;Min Pool Size=5;Connection Reset=False;Max Pool Size=50;" providerName="DDTek.DB2"/>
    <add name="DDTek P Connection String" connectionString="Database=DB2PLOC;host=172.16.1.170;port=5003;user id=MEDUSER;password=DB2PW;Pooling=true;Statement Cache Mode=Auto;Cursors With Hold=False;Enlist=False;Load Balance Timeout=0;Max Statement Cache Size=20;Defer Prepare=True;Cursor Description Cache=False;Min Pool Size=5;Connection Reset=False;Max Pool Size=50;" providerName="DDTek.DB2"/>
    <add name="DDTek Q Connection String" connectionString="Database=DB2QLOC;host=172.16.1.170;port=5002;user id=MEDUSER;password=DB2PW;Pooling=true;Statement Cache Mode=Auto;Cursors With Hold=False;Enlist=False;Load Balance Timeout=0;Max Statement Cache Size=20;Defer Prepare=True;Cursor Description Cache=False;Min Pool Size=5;Connection Reset=False;Max Pool Size=50;" providerName="DDTek.DB2"/>
    <add name="DDTek T Connection String" connectionString="Database=DB2TLOC;host=172.16.1.170;port=5001;user id=MEDUSER;password=DB2PW;Pooling=true;Statement Cache Mode=Auto;Cursors With Hold=False;Enlist=False;Load Balance Timeout=0;Max Statement Cache Size=20;Defer Prepare=True;Cursor Description Cache=False;Min Pool Size=5;Connection Reset=False;Max Pool Size=50;" providerName="DDTek.DB2"/>
    <add name="ImgWorkflow Database Instance" connectionString="Data Source=UFCWSQL;Initial Catalog=ImgWorkFlow;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="SQL Database Instance" connectionString="Data Source=UFCWSQL;Initial Catalog=Medical;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DB2PW" value="ÎÉØÍÅÄÓ"/>
    <add key="EnableDDTEKLogging" value="1"/>
    <add key="IncludeTimeinTraceName" value="1"/>
    <add key="LogDirectory" value="..\RegMasterLogs\"/>
    <add key="RecreateTrace" value="1"/>
    <add key="StartTraceImmediately" value="1"/>
    <!-- <add key="DependentAgeLimit" value="19" />-->
    <add key="ActiveDependentAgeLimit" value="26"/>
    <add key="RetireeDependentAgeLimit" value="19"/>
    <add key="DefaultAgeLimit" value="19"/>
    <add key="AppName" value="Eligibility"/>
    <add key="TransactionHistory" value="FamilyHistory.xml"/>
    <add key="TransactionHistoryRetentionInDays" value="5"/>
  </appSettings>
  <AddressDataGrid StyleLocation="AddressDataGrid.xml"/>
  <AddressHistoryDataGrid StyleLocation="AddressHistoryDataGrid.xml"/>
  <AlertDataGrid StyleLocation="AlertDataGrid.xml"/>
  <CoverageHistoryDataGrid StyleLocation="CoverageHistoryDataGrid.xml"/>
  <DistinctFamilyListDataGrid StyleLocation="DistinctFamilyListDataGrid.xml"/>
  <EligibilityHoursDataGrid StyleLocation="EligibilityHoursDataGrid.xml"/>
  <EligibilityDataGrid StyleLocation="EligibilityDataGrid.xml"/>
  <EmailDataGrid StyleLocation="EmailDataGrid.xml"/>
  <EmailHistoryDataGrid StyleLocation="EmailHistoryDataGrid.xml"/>
  <FamilyFreeTextDataGrid StyleLocation="FamilyFreeTextDataGrid.xml"/>
  <FamilyHistoryDataGrid StyleLocation="FamilyHistoryDataGrid.xml"/>
  <FamilyInfoDataGrid StyleLocation="FamilyInfoDataGrid.xml"/>
  <FlexNetworkDataGrid StyleLocation="FlexNetworkDataGrid.xml"/>
  <FreeTextEditorDataGrid StyleLocation="FreeTextEditorDataGrid.xml"/>
  <HistoryDataGrid StyleLocation="HistoryDataGrid.xml"/>
  <HoursDataGrid StyleLocation="HoursDataGrid.xml"/>
  <HoursRequiredLookupDataGrid StyleLocation="HoursRequiredLookupDataGrid.xml"/>
  <LifeEventsDataGrid StyleLocation="LifeEventsDataGrid.xml"/>
  <LifeEventsHistoryDataGrid StyleLocation="LifeEventsHistoryDataGrid.xml"/>
  <LifeEventsLookupDataGrid StyleLocation="LifeEventsLookupDataGrid.xml"/>
  <MemberSearchDataGrid StyleLocation="MemberSearchDataGrid.xml"/>
  <PatientFreeTextDataGrid StyleLocation="PatientFreeTextDataGrid.xml"/>
  <PhoneDataGrid StyleLocation="PhoneDataGrid.xml"/>
  <PhoneHistoryDataGrid StyleLocation="PhoneHistoryDataGrid.xml"/>
  <PremiumsDataGrid StyleLocation="PremiumsDataGrid.xml"/>
  <PremLetterDataGrid StyleLocation="PremLetterDataGrid.xml"/>
  <REGMHistoryDataGrid StyleLocation="REGMHistoryDataGrid.xml"/>
  <RemarksDataGrid StyleLocation="RemarksDataGrid.xml"/>
  <RemarksLookupDataGrid StyleLocation="RemarksLookupDataGrid.xml"/>
  <UFCWDocsDataGrid StyleLocation="UFCWDocsDataGrid.xml"/>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
