<?xml version="1.0" encoding="utf-8"?>
<dataConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.databaseSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultInstance="DDTek Database Instance" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/data">
      <databaseTypes>
        <databaseType name="DDTek" type="UFCW.Practices.EnterpriseLibrary.Data.DDTekDatabase, DDTekCommandWrapper, Version=1.0.2096.14525, Culture=neutral, PublicKeyToken=null" />
        <databaseType name="Sql Server" type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      </databaseTypes>
      <instances>
        <instance name="DDTek Database Instance" type="DDTek" connectionString="DDTek Connection String" />
        <instance name="Eligibility Database Instance" type="Sql Server" connectionString="Eligibility SQL Connection String" />
        <instance name="SQL Database Instance" type="Sql Server" connectionString="Sql Connection String" />
      </instances>
      <connectionStrings>
        <connectionString name="DDTek Connection String">
          <parameters>
            <parameter name="database" value="DB2QLOC" isSensitive="false" />
            <parameter name="host" value="172.16.1.170" isSensitive="false" />
            <parameter name="password" value="mas123" isSensitive="true" />
            <parameter name="port" value="5002" isSensitive="false" />
            <parameter name="user id" value="Mark" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="Eligibility SQL Connection String">
          <parameters>
            <parameter name="database" value="Eligibility" isSensitive="false" />
            <parameter name="Integrated Security" value="True" isSensitive="false" />
            <parameter name="server" value="UFCWSQL" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="Sql Connection String">
          <parameters>
            <parameter name="database" value="Medical" isSensitive="false" />
            <parameter name="Integrated Security" value="True" isSensitive="false" />
            <parameter name="server" value="UFCWSQ1" isSensitive="false" />
          </parameters>
        </connectionString>
      </connectionStrings>
    </enterpriseLibrary.databaseSettings>
  </xmlSerializerSection>
</dataConfiguration>