<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="ProviderDataset.CaseSensitive" value="False" />
    <add key="ProviderDataset.DataSetName" value="ProviderDataset" />
    <add key="ProviderDataset.EnforceConstraints" value="True" />
    <add key="ProviderDataset.Prefix" value="" />
    <add key="DataGridTableStyle1.AllowSorting" value="True" />
  </appSettings>
  <LicensesDataGrid StyleLocation="LicensesDataGrid.xml" />
</configuration>