<?xml version="1.0" encoding="utf-8"?>
<ProviderDataGridStyle>
  <xmlSerializerSection>
    <ProviderDataGridData>
      <ColumnCount>8</ColumnCount>
      <Column DefaultOrder="1" Mapping="PROVIDER_ID" HeaderText="UFCW Provider ID" Format="0000000000" NullText="">
        <DefaultOrder>1</DefaultOrder>
        <Mapping>PROVIDER_ID</Mapping>
        <HeaderText>UFCW Provider ID</HeaderText>
        <Format>0000000000</Format>
        <NullText>
        </NullText>
      </Column>
      <Column>
        <DefaultOrder>2</DefaultOrder>
        <Mapping>TYPEANDTAXID</Mapping>
        <HeaderText>TaxID/SSN</HeaderText>
        <Format>1stCharacterMask</Format>
        <NullText>
        </NullText>
      </Column>
      <Column>
        <DefaultOrder>3</DefaultOrder>
        <Mapping>NPI</Mapping>
        <HeaderText>NPI</HeaderText>
        <Format>0000000000</Format>
        <NullText>
        </NullText>
      </Column>
      <Column>
        <DefaultOrder>4</DefaultOrder>
        <Mapping>NAME1</Mapping>
        <HeaderText>Provider Title</HeaderText>
        <Format>
        </Format>
        <NullText>
        </NullText>
      </Column>
      <Column>
        <DefaultOrder>5</DefaultOrder>
        <Mapping>SUSPEND_SW</Mapping>
        <HeaderText>Suspended</HeaderText>
        <Format>DecimalBoolean2YesNo</Format>
        <NullText>
        </NullText>
      </Column>
      <Column>
        <DefaultOrder>6</DefaultOrder>
        <Mapping>DESCRIPTION</Mapping>
        <HeaderText>Alert</HeaderText>
        <Format>
        </Format>
        <NullText>
        </NullText>
      </Column>
      <Column>
        <DefaultOrder>7</DefaultOrder>
        <Mapping>Last Updated On</Mapping>
        <HeaderText>ProviderTimestamp</HeaderText>
        <Format>
        </Format>
        <NullText>
        </NullText>
      </Column>
      <Column>
        <DefaultOrder>8</DefaultOrder>
        <Mapping>Last Updated By</Mapping>
        <HeaderText>ProviderUserID</HeaderText>
        <Format>
        </Format>
        <NullText>
        </NullText>
      </Column>
    </ProviderDataGridData>
  </xmlSerializerSection>
</ProviderDataGridStyle>